footer {
    border-top: 1px solid #999;
    padding: 10px;
    font-size: small;
    font-style: italic;
    display: table;
    width: 80%;
    margin: 25px auto 0 auto;
}

footer .left, #footer .right {
    display: table-cell;
    width: 50%;
}

footer .left {
    text-align: left;
}

footer .right {
    text-align: right;
}
